<h2>Ticket Information</h2>
<table class="ticket-table">
	<tbody>
      <tr>
        <td class="table-description">Comp Ticket</td>
        <td class="table-cost">$0.00</td>
        <td class="table-third-col-spacer"></td>
        <td class="table-quantity"></td>
        <td class="table-penultimate-col-spacer"></td>
        <td class="table-buttons"><a href="/products/jbf-media-awards-comp-ticket?pid={{ page.id }}">{% include 'details-button' %}</a></td>
        {% comment %}{% include 'closed-event-button' %}{% endcomment %}
      </tr>

      <tr>
        <td class="table-description">General Public Ticket</td>
        <td class="table-cost">$350.00</td>
        <td class="table-third-col-spacer"></td>
        <td class="table-quantity"></td>
        <td class="table-penultimate-col-spacer"></td>
        <td class="table-buttons"><a href="/products/jbf-media-awards-general-admission?pid={{ page.id }}">{% include 'details-button' %}</a></td>
        {% comment %}{% include 'closed-event-button' %}{% endcomment %}
      </tr>
      
      <tr>
        <td class="table-description">Table (seats 10)</td>
        <td class="table-cost">$3,500.00</td>
        <td class="table-third-col-spacer"></td>
        <td class="table-quantity"></td>
        <td class="table-penultimate-col-spacer"></td>
        <td class="table-buttons"><a href="/products/jbf-media-awards-table?pid={{ page.id }}">{% include 'details-button' %}</a></td>
        {% comment %}{% include 'closed-event-button' %}{% endcomment %}
      </tr>

      <tr>
        <td class="table-description">BECOME A SPONSOR!</td>
        <td class="table-cost">$5,000.00</td>
        <td class="table-third-col-spacer"></td>
        <td class="table-quantity"></td>
        <td class="table-penultimate-col-spacer"></td>
        <td class="table-buttons"><a href="/products/jbf-media-awards-sponsor?pid={{ page.id }}">{% include 'details-button' %}</a></td>
      </tr>
	</tbody>
</table>
{% comment %}class="closed" to turn text grey{% endcomment %}
