<div id="map-1" class="bbj-map"> <!-- begin div#map-1.bbj-map -->
  <iframe width="240" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Pier%20Sixty%2C%20Chelsea%20Piers%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyBS0uWw7RRQxJL5mB3Jf7VTrRjDOd7PoCs&center=40.7469,-74.008509&zoom=17"></iframe>
  <p class="map-label map-link"><a href="https://www.google.com/maps/place/Pier+Sixty/@40.746922,-74.0094026,17z/data=!4m2!3m1!1s0x0:0xb21e63fb78aa793e?hl=en-US" target="_blank">View Larger Map</a></p>
</div> <!-- end div#map-1.bbj-map -->
