  <div id="visa-sig-container">
    <p class="body-bold">Tickets are non-refundable</p>
    {% comment %} style="float: right;"
    <a href="http://www.visa.com/signature" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0065/6472/files/visa_signature.png?100259" width="60" height="28" /></a><br />
    <p class="visa-sig-tagline">Preferred card of the <br />
          James Beard Foundation</p> {% endcomment %}
  </div>

