<h2>Ticket Information</h2>
<table class="ticket-table">
    <tbody>
    {% capture rightnow %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture onsale %}{{ '2016-3-22T00:00:00EDT' | date: '%s' }}{% endcapture %}
      	<tr>
            <td class="table-description">Discounted Ticket</td>
            <td class="table-cost">$425.00</td>
            <td class="table-third-col-spacer"></td>
            <td class="table-quantity"></td>
            <td class="table-penultimate-col-spacer"></td>
            <td class="table-buttons"><a href="/products/jbf-awards-discounted-ticket?pid={{ page.id }}">{% include 'details-button' %}</a></td>
        </tr>
    </tbody>
</table>
{% comment %}1455292426{% endcomment %}