<p style="margin-top: 24px; font-weight: bold;">Thank you for your ticket purchase for the 2019 James Beard Foundation Awards.</p>

<p>Tickets for the James Beard Awards Gala in Chicago will be emailed the week of April 22 from <a href="mailto:audienceservices@lyricopera.org">audienceservices@lyricopera.org</a>. Please make sure to check your junk/spam mail folder as oftentimes, the email ends up there.</p>

<p>Tickets will not be issued for the Media Awards dinner in New York City. We ask that all guests please check in at the door upon arrival to the event.</p>

<p>If you have any questions, please contact the Awards box office at <a href="mailto:boxoffice@jamesbeard.org">boxoffice@jamesbeard.org</a> or <a href="tel:+19142316180">914.231.6180.</a></p>

<script type="text/javascript" charset="utf-8">
  //<![CDATA[
  var newUrl = 'http://www.jamesbeard.org/awards/tickets';
  document.getElementById('content').getElementsByTagName('a')[0].href = newUrl;
  //]]>
</script>