<h2>Ticket Information</h2>
<table class="ticket-table">
    <tbody>      
      	<tr>
          <td class="table-description">General Admission Ticket<br /><span style="font-family: NewJuneLight-Italic, Verdana, sans-serif; font-style: normal; font-weight: normal;">Exclusive pre-sale rate</span></td>
            <td class="table-cost">$425.00</td>
            <td class="table-third-col-spacer"></td>
            <td class="table-quantity"></td>
            <td class="table-penultimate-col-spacer"></td>
            <td class="table-buttons"><a href="/products/jbf-awards-first-bites-general-admission?h={{ 'now' | date: '%s' | md5 }}&pid={{ page.id }}">{% include 'details-button' %}</a></td>
        </tr>
    </tbody>
</table>
{% comment %}9959410698{% endcomment %}