<h2>Ticket Information</h2>
<table class="ticket-table">
    <tbody>
        <tr>
            <td class="table-description">Member Ticket</td>
            <td class="table-cost">$450.00</td>
            <td class="table-third-col-spacer"></td>
            <td class="table-quantity"></td>
            <td class="table-penultimate-col-spacer"></td>
            <td class="table-buttons"><a href="/products/jbf-awards-member-admission?h={{ 'now' | date: '%s' | md5 }}&pid={{ page.id }}">{% include 'details-button' %}</a></td>
        </tr>
    </tbody>
</table>

