<div id="header"> <!-- BEGIN HEADER -->
	<div id="header-top-bar"></div>
	<div id="header-graphic"><img src="{{ 'jbf_awards_2019_header_0_2x_28f82cab-36dc-4858-a89a-1b32145ba69c.png' | file_url }}" width="100%" height="300" alt="2019 James Beard Awards: Good Food For Good&trade;" /></div>
</div> <!-- END HEADER -->
