<div id="footer"> <!-- BEGIN FOOTER -->

	<div id="jbf-logotype"><a class="rollover" href="http://www.jamesbeard.org/" target="_blank"><span class="displace">James <br />Beard <br />Foundation</span></a></div>
	<div id="footer-utility-links">
		<p class="footer-utility"><a href="https://www.jamesbeard.org/ethics-and-goverance" target="_blank">Ethics and Governance</a><a href="https://www.jamesbeard.org/about" target="_blank">Our Values</a><a href="https://www.jamesbeard.org/privacy-policy" target="_blank">Privacy Policy</a><a href="https://www.jamesbeard.org/financials" target="_blank">Financials</a><a href="https://www.jamesbeard.org/contact-us" target="_blank">Contact Us</a></p>
	</div>
	<div class="footer-divider">
		<p class="footer-fine-print-left">James Beard Foundation 34 West 15th Street, New York, NY 10011 <br />
		&copy;&nbsp;{{ 'now' | date: '%Y' }}&nbsp;James Beard Foundation. All rights reserved. Content on this site may not be duplicated without prior written permission, except where noted.</p>
	</div>
	
</div> <!-- END FOOTER -->