    <div id="general-info" class="combo"> <!-- BEGIN GENERAL INFO DIV -->
      <h1>2014 JBF Awards</h1>
		<p class="event-date">Monday, May 5, 2014</p>
    	<p class="event-details" style="margin-bottom: 40px;">6:00 pm <br />
		David H. Koch Theater, Lincoln Center <br />
		West 63rd Street at Columbus Avenue<br />
		NYC</p>
				
	</div> <!-- END GENERAL INFO DIV -->
