<div id="map-1" class="combo"> <!-- begin div#map-1 -->
	<iframe width="240" height="200" frameborder="0" style="border: 0;"
src="https://www.google.com/maps/embed/v1/place?q=David+H.+Koch+Theater,+Lincoln+Center+Plaza,+New+York,+NY,+United+States&center=40.7723,-73.9825&zoom=16&key=AIzaSyDgm9cbfS_RaL0EVVrFebsR93e7D7MQJSw"></iframe>
	<p class="map-label map-link"><a href="https://www.google.com/maps/place/David+H.+Koch+Theater/@40.771889,-73.98334,18z?hl=en-US" target="_blank">View Larger Map</a></p>
</div> <!-- end div#map-1 -->
