<div id="map-1"> <!-- begin div#map-1 -->
	<iframe width="240" height="200" frameborder="0" style="border: 0;" src="https://www.google.com/maps/embed/v1/place?q=Lyric%20Opera%20of%20Chicago%2C%20North%20Upper%20Wacker%20Drive%2C%20Chicago%2C%20IL%2C%20United%20States&key=AIzaSyBS0uWw7RRQxJL5mB3Jf7VTrRjDOd7PoCs&center=41.882287,-87.637&zoom=17"></iframe>
	<p class="map-label map-link"><a href="https://www.google.com/maps/place/Lyric+Opera+of+Chicago/@41.882078,-87.637647,19z/data=!4m2!3m1!1s0x880e2cb8925e8fe5:0x1a7ed21598ee5c97" target="_blank">View Larger Map</a></p>
</div> <!-- end div#map-1 -->
