<div id="tie-the-knot-promo">
	<div class="bowtie"><img src="{{ 'tie-the-knot-bowtie.png' | file_url }}" width="260" height="164" alt="Tie The Knot Bowtie"></div>
	<div class="tie-the-knot-intro">
		<p>The James Beard Foundation is excited to announce that</p>
		<h4>Jesse Tyler Ferguson</h4>
		<p>of ABC&rsquo;s <em>Modern Family</em> will again be hosting <br>this year&rsquo;s James Beard Awards on Monday, May 6 <br>at the Lyric Opera in Chicago!</p>
	</div>
	<div class="tie-the-knot-details">
		<p>To celebrate, <em>Tie The Knot</em> (of which Jesse is a co-founder) is once again launching an official James Beard bow tie with proceeds being donated to the James Beard Foundation in support of diversity and LGBTQ inclusion in the culinary community.</p>
		<p class="last"><a href="https://www.thetiebar.com/product/BT232ST" target="_blank">Click here to purchase yours today!</a></p>
	</div>
</div>