{% layout "jbfstore-front" %}

<!--
    <p class="in-line-divider" style="margin-bottom: 30px;"></p>
    <h2 style="text-align: center;">Due to a limited quantity, tickets for the 2013 James Beard Awards are <br />
    no longer available online. To inquire about purchasing any <br />remaining tickets, please call the Box Office at</h2>
    <h1 style="text-align: center; line-height: 1.3em;">914-231-6180.</h1>

  <h1 style="text-align: center">Thank You for Your Ticket Inquiry for the <br />2014 James Beard Foundation Awards</h1>
  <p style="line-height: 1.5em;">We are no longer accepting ticket orders online due to limited seating availability. If you are interested in placing a ticket order please call the box office directly at 914-231-6180. All ticket orders placed after April 21 will be held at Will Call, and can be picked up at the David H. Koch Theater on Monday, May 5 beginning at 5pm.</p>



    <h1 style="text-align: center;">The Ticket Store is Closed</h1>
    <h2 style="text-align: center">For more information about the <br />James Beard Foundation, <a href="http://www.jamesbeard.org" target="_blank">click here</a></h2>

  <h2 style="text-align: center;">Tickets go on sale Tuesday, March 18, 2014</h2>
    <h1 style="text-align: center; font-size: 22px;">
    Call the box office at<span style="font-size: 28px;"> 914-231-6180 </span>for more&nbsp;information.
    </h1>


    <h1 style="text-align: center; line-height: 1.3em;">Tickets are almost sold out!</h1>
  <h2 style="text-align: center; color: #222;">Please call the box office at <a href="tel:+19142316180" style="color: #222; text-decoration: none;">914.231.6180</a> to place your order.</h2>


-->


  {% include 'jbf-map' %}

  {% include 'jbf-info' %}


  <p class="in-line-divider" style="margin: 0 0 24px 0;">&nbsp;</p>

  {% include 'bbj-map' %}

  {% include 'bbj-info' %}



<div class="store-ticket-details" style="margin: 0 0 24px 0;">
    <p class="in-line-divider" style="margin-bottom: 30px;"></p>
  
    <h2 style="text-align: center">Purchase Tickets</h2>
    <h1 style="text-align: center;"><a href="https://www.jamesbeard.org/awards/tickets">Click here</a> to continue.</h1>


</div>

  <p class="in-line-divider" style="margin: 0 0 24px 0;">&nbsp;</p>

<style type="text/css">
/*<![CDATA[*/

#ticket-review-disclaimer {
	display: none;
}
/*
.store-ticket-table {
	display: none;
}
*/
/*]]>*/
</style>


  {{ page.content }}

