  {% layout "jbfstore" %}


  {% include 'bbj-map' %}

  {% include 'bbj-info' %}

  {% include 'bbj-cat-3-tickets' %}


  {{ page.content }}


  <p class="in-line-divider" style="margin: 0 0 24px 0;">&nbsp;</p>


  {% include 'jbf-map' %}

  {% include 'jbf-info' %}

  {% include 'jbf-cat-3-tickets' %}

  {% include 'tie-the-knot-2019' %}

  <p>&nbsp;</p>


